<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>GymUP</title>
  <!--button book style-->
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

  <link rel="stylesheet" href="css/style.css">
</head>

<body marginheight="0px" marginwidth="0px">
<div class="background-image">
  <h1 style="text-align: center">GymUP™</h1>

  <button onclick="window.location.href='bookCalendar'" class="book wrapper">Book</button>
  <button onclick="window.location.href='doBookings'" class="allbooking wrapper">All Bookings</button>
  <form action="index" method="post">
    <label for="userId"></label><input type="hidden" name="userId" id="userId">
    <button class="logout wrapper">Back to Main System</button>
  </form>

</div>

<script>
  var mem = document.getElementById("userId");
  mem.value = localStorage.getItem("member_id");
</script>
</body>
</html>